<%-include("layout/header")-%>

    <div id="home" class="same">
    <h1>Home</h1>
    <p><%=home%></p>
    </div> 
    
<div class="same">
<% blog.forEach(function(bl){%>
  
    <h1><%= bl.title %></h1> 
    <% if(bl.blog.length>100){ %>
    <p><%= bl.blog.substring(0,100) %>... <a href="/<%= bl.title %>">Read more</a></p>
    <%}else{%>
    <p> <%= bl.blog %> <a href="/<%= bl.title %>">Read more</a></p>
    <%}%>
<%    }) %>
</div>
 <%-include("layout/footer")-%>